<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <title>게시물 수정</title>
</head>
<style>
    .form-control {
        color: #495057;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
    }
    .fieldError {
        border-color: #bd2130;
    }
</style>
<script type="text/javascript">
    $(document).ready(function(){
        $(".cancel_btn").on("click", function(){
            event.preventDefault();
            location.href = "/board/list";
        })
    })
</script>

<body>
<div id="root">
    <header>
        <h1> 게시판</h1>
    </header>
    <hr />

    <nav>
        홈 - 글 작성
    </nav>
    <hr />

    <section id="container">
        <form th:object="${updatePost}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <table>
                <tbody>
                <tr>
                    <td>
                        <label th:for="title">제목</label>
                        <input type="text" th:field="*{title}" class="form-control"
                               th:class="${#fields.hasErrors('title')}? 'form-control fieldError' : 'form-control'">
                        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Incorrect data</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label th:for="content">내용</label>
                        <textarea th:field="*{content}" class="form-control"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label th:for="writer">작성자</label>
                        <input type="text" th:field="*{writer}" class="form-control" readonly="readonly">
                    </td>
                <tr>
                <tr>
                    <td>
                        <label th:for="regDate">작성날짜</label>
                        <p th:text="${#temporals.format(updatePost.regDate,'yyyy-MM-dd')}" class="form-control"></p>
                        <!--                        <fmt:formatDate value="${read.regDate}" pattern="yyyy-MM-dd"/>-->
                    </td>
                </tr>
                </tbody>
            </table>
            <div>
                <button type="submit" class="update_btn">저장</button>
                <button type="submit" class="cancel_btn">취소</button>
            </div>
        </form>
    </section>
    <hr />
</div>
</body>
</html>